.filterblock {
    margin: 30px 0;
    position: relative;
    .tag {
        display: flex;
        margin-right: 15px;
        &__button {
            align-items: center;
            border-radius: $radius;
            color: #fff;
            display: flex;
            font-size: 14px;
            font-weight: 700;
            padding: 10px 20px;
            &--secondary {
                background: $secondary;
            }
            &--tertiary {
                background: $tertiary;
            }
            &--quaternary {
                background: $quaternary;
            }
            img{
                margin-left: 10px;
            }
        }
    }
    .filters {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        z-index: 1;
        &__element {
            border-radius: $radius;
            display: flex;
            font-weight: 700;
            flex-direction: column;
            margin: 15px 15px 0px 0px;
            padding: 25px;
            &--secondary {
                background: $secondary;
            }
            &--tertiary {
                background: $tertiary;
            }
            &--quaternary {
                background: $quaternary;
            }
            &__button {
                align-items: center;
                display: flex;
                justify-content: space-between;
                &__input {
                    color: #fff;
                    font-size: 18px;
                    font-weight: bold;
                    width: 130px;
                    &::placeholder {
                        color: inherit;
                        font-size: inherit;
                    }
                    &--after {
                        width: min-content;
                        &::placeholder {
                            color: rgba($color: #fff, $alpha: 0.5);
                        }
                    }
                }

            }
            &__list {
                color: #fff;
                display: grid;
                grid-template-columns: repeat(3, 150px);
                grid-gap: 7px;
                line-height: 21px;
                margin-top: 20px;
                max-height: 400px;
                overflow-y: scroll;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none;  /* IE 10+ */
                li {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                &::-webkit-scrollbar {
                    width: 0px;
                    background: transparent;
                }
                &--hide {
                    display: none;
                }
            }
        }
    }
}