.recipe {
    border-radius: $radius;
    overflow: hidden;
    &__image {
        background: $pinkSwan;
        display: block;
        height: 178px;
    }
    &__description {
        background: $mercury;
        font-size: 12px;
        height: 186px;
        overflow: hidden;
        padding: 20px;
        &__header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            &__title {
                font-size: 18px;
                margin-right: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &__time {
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                }
                span {
                    font-size: 18px;
                    white-space: nowrap;
                }
            }
        }
        &__content {
            display: flex;
            &__liste {
                flex-basis: 50%;
                margin-right: 10px;
            }
            &__text {
                display: -webkit-box;
                flex-basis: 50%;
                margin-left: 10px;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 9;
            }
        }
        span {
            font-weight: 700;
        }
    }
}